{% extends "base.html" %}
{% block title %}Студенты{% endblock %}

{% block head %}
Список студентов
{% endblock %}

{% block content %}
    {% if students %}
        <table class="students">
            <tr>
                <th>ФИО</th>
                <th>Дата рождения</th>
                <th>№ студ. билета</th>
                <th>Группа</th>
                {% if user.username %}
                <th>Действия</th>
                {% endif %}
            </tr>
    {% for student in students %}
            <td>{{ student.name }}</td>
            <td>{{ student.birthday }}</td>
            <td>{{ student.number }}</td>
                {% if student.group %}
                    <td><a href="/group/{{ student.group|urlencode }}/">
                        {{ student.group }}</a></td>
                {% else %}
                    <td>Не указана</td>
                {% endif %}
            {% if user.username %}
                <td><a href="/edit/student/{{ student.id|urlencode }}/">Изменить</a> 
                  | <a href="/delete/student/{{ student.id|urlencode }}/">Удалить</a> </td>
            {% endif %}
            
        <tr/>
     {% endfor %}
     <p>Всего {{ students.count }} студентов</p> 
{% else %}
  <p>Нет студентов.</p>
{% endif %}

{% if user.username %}
        <a href="/students/add/"> Добавить студента</a>
{% endif %}

<p><a href="/groups/">Список групп</a></p>

{% endblock %}
